  <!DOCTYPE html>
<html>
    <head>
        <title>Souvik's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Souvik's Blog</a></h1>
        </div>

        <div>
            <p>published: 12.04.2019, 11:34</p>
            <h2><a href="">My first post</a></h2>
            <p>Good Morning</p>
        </div>

        <div>
            <p>published: 12.04.2019, 11:34</p>
            <h2><a href="">My second post</a></h2>
            <p>Bot AI ML</p>
        </div>
    </body>
</html>